
{% extends 'main/base.html' %}

{% block title %}

{% endblock %}


    <main>div href="{% url 'create' %}" class="p-4 mb-3 bg-light rounded">
          <h4  class="fst-italic">About</h4>
          <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
        </div></main></div>
    <
    

{% block content %}
<h1>About Us</h1>
<p1>
  </div>
    <div href="{% url 'create' %}" class="p-4 mb-3 bg-light rounded">
          <h4  class="fst-italic">About</h4>
          <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
        </div></p1>
{% endblock %}



