body {

    background-color: #F5FFFA;
    padding-left: 5px;
}
 h1{
    color: #696969;
    font-family: 'Lobster';
}

 p{
    color: FAF0E6;
    font-family: 'Lobster';
}
.post {
    margin-bottom: 70px;







